<app-nav></app-nav>
<ngx-moveable #moveable [target]="target" [draggable]="true" [origin]="false" [rotatable]="true" [pinchable]="true" [scalable]="scalable" [resizable]="resizable" [warpable]="warpable" [keepRatio]="false" [throttleDrag]="1" [throttleScale]="0.01" [throttleRotate]="0.2"
    [throttleResize]="1" (drag)="onDrag($event)" (resize)="onResize($event)" (scale)="onScale($event)" (warp)="onWarp($event)" (rotate)="onRotate($event)" (pinch)="onPinch($event)" (dragEnd)="onEnd()" (resizeEnd)="onEnd()" (scaleEnd)="onEnd()" (warpEnd)="onEnd()"
    (rotateEnd)="onEnd()" (pinchEnd)="onEnd()">
</ngx-moveable>
<section>
    <router-outlet>

    </router-outlet>
</section>